body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

.create-todo {

}

.create-todo__input {

}

.create-todo__button {
  cursor: pointer;
}

.todo-list {

}

.todo {
  display: flex;
  align-items: center;
}

.todo.checked .todo__text {
  text-decoration: line-through;
}

.todo__checkbox {
  cursor: pointer;

}

.todo__text {

}

.todo__button {
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
}